<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iot data display</title>
  </head>
  <body>
    <h1>Heres a table showing the different IoT messages:</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <%alertList.forEach(components => {%>
        <tr>
          <th scope="row"><%= components._id %></th>
          <td><%= components.message %></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
